footer{
    width: 100%;
    background-color: #050505;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    position: fixed;
    bottom: 0;
    p{
        font-family: "Raleway", "sans-serif";
        color: #fff;
    }
    span{
        color: #29d9d5;
    }
}


