<div class="contact-app">
    <h1>Nous contacter ! </h1>
    <div class="body">
        <div class="image">
            <img [src]="cheminImage" alt="picture">
        </div>
        <!-- inserer image -->
        <div class="formulaire">
            <mat-form-field>
                <mat-label>Nom</mat-label>
                <input matInput placeholder="Entrez votre nom" [formControl]="nom" required />
                <mat-error *ngIf="nom.hasError('required')">
                    Vous devez entrer une valeur
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Entrer votre mail</mat-label>
                <input matInput placeholder="email@example.com" [formControl]="email" required />
                <mat-error *ngIf="email.hasError('required')">
                    Vous devez entrer une valeur
                </mat-error>
                <mat-error *ngIf="email.hasError('email')">
                    Email invalide
                </mat-error>
            </mat-form-field>


            <mat-form-field>
                <mat-label>Textarea</mat-label>
                <textarea matInput></textarea>
            </mat-form-field>

        </div>
    </div>
</div>