.app-livre {
    padding : 0 30px;
    border: thick double #7296a4;
    width : 640px; /* Corriger pour redimensionner */
    height : 500px;

    img {
        width: 20%;
    }

    #resume{
        font-style :italic;
    }
}