<header>
    <div class="leftTitle">
        <a href="arcenciel">ArcEnCiel <span>Editions</span></a>
    </div>
        <ul class="centerTitle">
            <li><a routerLink="accueil" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Accueil</a></li>
            <li><a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Collection</a></li>
            <li><a routerLink="propos" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">A propos</a></li>
            <li><a routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contact</a></li>
        </ul>

    <div class="rightTitle">
        <a routerLink="connecter" (click)="isConnected()">{{textBouton}}</a>
    </div>
</header>